<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      >
  <!--<extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>-->
  <variable name="thismonth" value="${date:format=yyyy-MM}"/>
  <variable name="logDirectory" value="${basedir}/records/${thismonth}/${shortdate}"/>
  <variable name="logFile" value="${logDirectory}/${shortdate}"/>
  <targets>
    <default-target-parameters xsi:type="File" keepFileOpen="false"/>
    <target name="bat_log" xsi:type="File" fileName="${basedir}/records/BAT_${shortdate}.csv"
            maxArchiveDays="90">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}"/>
        <column name="BatteryRackCount" layout="${event-properties:item=BatteryRackCount}"/>
        <column name="BatteryStatus" layout="${event-properties:item=BatteryStatus}"/>
        <column name="CellVoltageLocation.Max" layout="${event-properties:item=CellVoltageLocation.Max}"/>
        <column name="CellVoltageLocation.Min" layout="${event-properties:item=CellVoltageLocation.Min}"/>
        <column name="ModuleTempLocation.Max" layout="${event-properties:item=ModuleTempLocation.Max}"/>
        <column name="ModuleTempLocation.Min" layout="${event-properties:item=ModuleTempLocation.Min}"/>
        <column name="HeartBeat" layout="${event-properties:item=HeartBeat}"/>
        <column name="Warning" layout="${event-properties:item=Warning}"/>
        <column name="Fault" layout="${event-properties:item=Fault}"/>
        <column name="SOC" layout="${event-properties:item=SOC}"/>
        <column name="SOH" layout="${event-properties:item=SOH}"/>
        <column name="DCVoltage" layout="${event-properties:item=DCVoltage}"/>
        <column name="DCCurrent" layout="${event-properties:item=DCCurrent}"/>
        <column name="ChargeCurrentLimit" layout="${event-properties:item=ChargeCurrentLimit}"/>
        <column name="DischargeCurrentLimit" layout="${event-properties:item=DischargeCurrentLimit}"/>
        <column name="ChargePowerLimit" layout="${event-properties:item=ChargePowerLimit}"/>
        <column name="DischargePowerLimit" layout="${event-properties:item=DischargePowerLimit}"/>
        <column name="CellVoltage.Max" layout="${event-properties:item=CellVoltage.Max}"/>
        <column name="CellVoltage.Min" layout="${event-properties:item=CellVoltage.Min}"/>
        <column name="ModuleTemp.Max" layout="${event-properties:item=ModuleTemp.Max}"/>
        <column name="ModuleTemp.Min" layout="${event-properties:item=ModuleTemp.Min}"/>
        <column name="RoomTemp" layout="${event-properties:item=RoomTemp}"/>
        <column name="RelayClose" layout="${event-properties:item=RelayClose}"/>
      </layout> 
    </target>
    <target name="pcs_log" xsi:type="File" fileName="${basedir}/records/PCS_${shortdate}.csv"
            maxArchiveDays="90">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}"/>
        <column name="CpMode" layout="${event-properties:item=CpMode}"/>
        <column name="LocalEnable" layout="${event-properties:item=LocalEnable}"/>
        <column name="Ac_Magnet_Close" layout="${event-properties:item=Ac_Magnet_Close}"/>
        <column name="Dc_Magnet_Close" layout="${event-properties:item=Dc_Magnet_Close}"/>
        <column name="Grid_Sts_Status" layout="${event-properties:item=Grid_Sts_Status}"/>
        <column name="Dgs_Sts_Status" layout="${event-properties:item=Dgs_Sts_Status}"/>
        <column name="HeartBeat" layout="${event-properties:item=HeartBeat}"/>
        <column name="Status" layout="${event-properties:item=Status}"/>
        <column name="Warning" layout="${event-properties:item=Warning}"/>
        <column name="Fault" layout="${event-properties:item=Fault}"/>
        <column name="Frequency" layout="${event-properties:item=Frequency}"/>
        <column name="ActivePower" layout="${event-properties:item=ActivePower}"/>
        <column name="ReactivePower" layout="${event-properties:item=ReactivePower}"/>
        <column name="PowerFactor" layout="${event-properties:item=PowerFactor}"/>
        <column name="C_Rate" layout="${event-properties:item=C_Rate}"/>
        <column name="P_Rate" layout="${event-properties:item=P_Rate}"/>
        <column name="CommandFeedback" layout="${event-properties:item=CommandFeedback}"/>
        <column name="Temp" layout="${event-properties:item=Temp}"/>
        <column name="TodayAccumCharge" layout="${event-properties:item=TodayAccumCharge}"/>
        <column name="TodayAccumDischarge" layout="${event-properties:item=TodayAccumDischarge}"/>
        <column name="AC_LineVoltage.RS" layout="${event-properties:item=AC_LineVoltage.RS}"/>
        <column name="AC_LineVoltage.ST" layout="${event-properties:item=AC_LineVoltage.ST}"/>
        <column name="AC_LineVoltage.TR" layout="${event-properties:item=AC_LineVoltage.TR}"/>
        <column name="AC_PhaseVoltage.R" layout="${event-properties:item=AC_PhaseVoltage.R}"/>
        <column name="AC_PhaseVoltage.S" layout="${event-properties:item=AC_PhaseVoltage.S}"/>
        <column name="AC_PhaseVoltage.T" layout="${event-properties:item=AC_PhaseVoltage.T}"/>
        <column name="AC_PhaseCurrent.R" layout="${event-properties:item=AC_PhaseCurrent.R}"/>
        <column name="AC_PhaseCurrent.S" layout="${event-properties:item=AC_PhaseCurrent.S}"/>
        <column name="AC_PhaseCurrent.T" layout="${event-properties:item=AC_PhaseCurrent.T}"/>
        <column name="DC_LinkVoltage" layout="${event-properties:item=DC_LinkVoltage}"/>
        <column name="DC_BatteryVoltage" layout="${event-properties:item=DC_BatteryVoltage}"/>
        <column name="DC_BatteryCurrent" layout="${event-properties:item=DC_BatteryCurrent}"/>
        <column name="DC_BatteryPower" layout="${event-properties:item=DC_BatteryPower}"/>
        <column name="PCS_PhaseVoltage.R" layout="${event-properties:item=PCS_PhaseVoltage.R}"/>
        <column name="PCS_PhaseVoltage.S" layout="${event-properties:item=PCS_PhaseVoltage.S}"/>
        <column name="PCS_PhaseVoltage.T" layout="${event-properties:item=PCS_PhaseVoltage.T}"/>
        <column name="OperationAvaliable" layout="${event-properties:item=OperationAvaliable}"/>
        <column name="GfdDetect" layout="${event-properties:item=GfdDetect}"/>
      </layout>
    </target>
    <target name="dc_log" xsi:type="File" fileName="${basedir}/records/DC_${shortdate}.csv"
            maxArchiveDays="90">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}"/>
        <column name="KepcoTimer" layout="${event-properties:item=KepcoTimer}"/>
        <column name="CurrentLoad" layout="${event-properties:item=CurrentLoad}"/>
        <column name="ForecastingPower" layout="${event-properties:item=ForecastingPower}"/>
        <column name="PreviousDemandPower" layout="${event-properties:item=PreviousDemandPower}"/>
        <column name="AccumulatedPower" layout="${event-properties:item=AccumulatedPower}"/>
      </layout>
    </target>
    <target name="temp_log" xsi:type="File" fileName="${basedir}/records/TEMP_${shortdate}.csv"
            maxArchiveDays="90">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}"/>
        <column name="DeviceLocation" layout="${event-properties:item=DeviceLocation}"/>
        <column name="DeviceIndex" layout="${event-properties:item=DeviceIndex}"/>
        <column name="Temperature" layout="${event-properties:item=Temperature}"/>
        <column name="Humidity" layout="${event-properties:item=Humidity}"/>
      </layout>
    </target>
    <target name="controllog" xsi:type="File" fileName="${basedir}/records/PCS_CONTROL_${shortdate}.csv" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}"/>
    <target name="error" xsi:type="File" fileName="${basedir}/records/ERR_${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}"/>
    <target name="trace" xsi:type="File" fileName="${logDirectory}/${shortdate}_trace.log" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}"/>
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
        layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>
  <rules>
    <logger name="control_logger" minlevel="Info" maxlevel="Info" writeTo="controllog,coloredConsole" />
    <logger name="pcs_logger" minlevel="Info" maxlevel="Info" writeTo="pcs_log" />
    <logger name="bat_logger" minlevel="Info" maxlevel="Info" writeTo="bat_log" />
    <logger name="dc_logger" minlevel="Info" maxlevel="Info" writeTo="dc_log" />
    <logger name="temp_logger" minlevel="Info" maxlevel="Info" writeTo="temp_log" />
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="coloredConsole,trace" />
    <logger name="*" minlevel="Debug" maxlevel="Info" writeTo="coloredConsole" />
    <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="coloredConsole,error" />
  </rules>
</nlog>