<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      >
  <!--<extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>-->
  <variable name="thismonth" value="${date:format=yyyy-MM}"/>
  <variable name="logDirectory" value="${basedir}/logs/${thismonth}/${shortdate}"/>
  <!--<variable name="logFile" value="${logDirectory}/${shortdate}"/>-->
  <targets>
    <default-target-parameters xsi:type="File" keepFileOpen="false"/>
    <target name="controllog" xsi:type="File" fileName="${basedir}/records/PCS_CONTROL_${shortdate}.csv" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}"/>
    <target name="error" xsi:type="File" fileName="${logDirectory}/${shortdate}_error.log" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}"/>
    <target name="trace" xsi:type="File" fileName="${logDirectory}/${shortdate}_trace.log" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}"/>
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
        layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>
  <rules>
    <logger name="control_logger" minlevel="Info" maxlevel="Info" writeTo="controllog,coloredConsole" />
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="coloredConsole,trace" />
    <logger name="*" minlevel="Debug" maxlevel="Info" writeTo="coloredConsole" />
    <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="coloredConsole,error" />
  </rules>
</nlog>